{# src/LCV/PlatformBundle/Resources/views/Article/add.html.twig #}

{% extends "LCVPlaylistBundle::layout.html.twig" %}

{% block lcvplaylist_body %}

  <h2>Ajouter une Playlist</h2>

  {{ include("LCVPlaylistBundle:Playlist:form.html.twig") }}


{% endblock %}