<td class="sorter col-md-1">
	<div class="form-group hidden order">
		<input type="text"     id="lcv_playlistbundle_edit_playlist_playlist_audios___name___sortOrder" name="lcv_playlistbundle_edit_playlist[playlist_audios][__name__][sortOrder]" class="form-control" >
	</div>
</td>
<th class="col-md-3"
	<div class="form-group">
		<input type="text"     id="lcv_playlistbundle_edit_playlist_playlist_audios___name___title" name="lcv_playlistbundle_edit_playlist[playlist_audios][__name__][title]" class="form-control" required>
	</div>
</th>
<td class="col-md-6">
	<div class="form-group">
		<input type="file"  accept="audio/*"   id="lcv_playlistbundle_edit_playlist_playlist_audios___name___audio_file" name="lcv_playlistbundle_edit_playlist[playlist_audios][__name__][audio][file]" class="form-control" required>
	</div>
</td>