{# src/LCV/PlatformBundle/Resources/views/Article/add.html.twig #}

{% extends "LCVPlaylistBundle::layout.html.twig" %}

{% block lcvplatform_body %}

  <h2>Ajouter un article</h2>

  {{ include("LCVPlaylistBundle:Article:form.html.twig") }}


{% endblock %}