
<h3 class="panel-title">Nouvel Article : <a href="{{ path('lcv_platform_view', {'id': value.id}) }}">{{value.title}}</a>  - 
Ecrit le {{value.date|localizeddate('full', 'none')}} par {{value.author}}</h3>
