
{% for news in list_news %}
		<div class="panel panel-primary">
		  <div class="panel-heading">
		  	  {{ render(controller("LCVCoreBundle:Accueil:newsHeader", {'news_id': news.id })) }}
		  
		  </div>
		  <div class="panel-body">
		    {{news.abstract | raw}}
		  </div>
		</div>
  {% endfor %}
