
{% extends "::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}


	
{% block body %}
		
		<div class="container col-md-9 col-md-offset-2">
			
		  
			<div id="header" class="page-header">
			    
			<h1>Accueil</h1>
				<div>
				    {% for message in app.session.flashbag.get('info') %}
					   <p>{{ message }}</p>
				    {% endfor %}
				</div>
					  
		   	     {% block lcvcore_body %}
		     {% endblock %} 
		     </div>
		     
			  <h2>News :</h2>
			
		      {{ render(controller("LCVCoreBundle:Accueil:news", {'limit': 8})) }}
	    </div>
	    <div class="col-md-3">
	    </div>
	  
 <!--  End Block Body -->
{% endblock %}