	<div class="panel panel-success">
				<div class="panel-heading">
				        <h2 class="panel-title">Votre Invitation</h2>
				    </div>
				    <div class="panel-body">
				           Vous avez reçu une invitation pour Le-Cerf-Vert Website, pour vous incrire allez dans la section Mon Compte/Inscription</br>
						   Utilisez le code d'invitation suivant : </br>
						   {{invitation.code}}
				    </div>
				</div>
	</div>